html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: #efefef;
}

header { 
    background-color: #364552;
    color: white;
    padding: 3rem 2rem;
}
header h1 {
    font-size: 4rem;
    text-align: center;
    margin: 0 auto;
    font-size: 42px;
}
section h2{
    text-align: center;
    
}

p.imgUno {
    margin-left: 2cm;
}

.estiloParrafoDos {
    width: auto;
    margin-left: 2cm;
}

.imgDos {
    float:right ;
    width: 500px;
}

.imgTres {
    width: 1200px;
    margin: 2cm;
    text-align: center;
}

.imgCuatro {
    text-align: center;
    width: 350px;
}

section figure{
    display: inline;
    position: relative;
}

.imgCinco {
    float: right;
    text-align: center;
    width: 400px;
}
.imgSeis {
    
    width: 400px;
}

.centerFiguras {
    text-align: center;
}

figcaption {
    margin-left: 2cm;
}

section h2 {
    font-size: 40px;
}
section p {
    font-size: 25px;
}

.container {
    max-width: 1700px;
    margin: 2px auto;
}

section article {
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    transition: all 0.3s ease;
    font-size: medium;
}

section article:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

section article h2, section article p {
    margin: 1rem;
}

footer {
    background-color: #222;
    padding: 3rem;
    color: #fff;
}
footer section {
    float: right;
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: #fff;
    text-align: none;
}

footer a:hover { 
    color: cornflowerblue;
}
